@page
@model BankStartWeb.Pages.Transaction.WithdrawModel
@{
}

<form method="post">
    <input asp-for="Amount"/>
    <button type="submit">Withdraw</button>
    <span asp-validation-for="Amount" class="field-validation-error"></span>
</form>