<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankStartWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="~/css/css/owl.css">
    <link rel="stylesheet" href="~/css/css/lightbox.css">
    <link rel="stylesheet" href="~/BankStartWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a asp-page="/Pages/Index" class="logo">
                            En bank
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a asp-page="/Pages/Index" class="active">Home</a></li>
                            <li><a asp-page="#">Meetings</a></li>
                            <li class="scroll-to-section"><partial name="_LoginPartial"/></li>

                            @* Dropdown
                                <li class="has-sub">

                                <a href="javascript:void(0)">Pages</a>
                                <ul class="sub-menu">
                                Dropdown items
                                <li><a href="meetings.html">Upcoming Meetings</a></li>
                                <li><a href="meeting-details.html">Meeting Details</a></li>
                                </ul>
                                </li>*@

                            <li class="scroll-to-section"><a asp-page="#">Courses</a></li>
                            <li class="scroll-to-section"><a asp-page="/Customers/Index">Customers</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
        @RenderBody()

    </section>
    <!-- ***** Main Banner Area End ***** -->

    <footer>
        <p>
            Copyright © 2022 En bank Co., Ltd. All Rights Reserved.
        </p>
    </footer>
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        //var showSection = function showSection(section, isAnimate) {
        //  var
        //  direction = section.replace(/#/, ''),
        //  reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        //  reqSectionPos = reqSection.offset().top - 0;

        //  if (isAnimate) {
        //    $('body, html').animate({
        //      scrollTop: reqSectionPos },
        //    800);
        //  } else {
        //    $('body, html').scrollTop(reqSectionPos);
        //  }

        //};

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>