@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Antal Konton: @Model.Accounts</h1>
    <h1>Antal Kunder: @Model.Customers</h1>
    <h1>Totalt Saldo: @Model.TotalAccountBalance</h1>
</div>
