@page
@model BankStartWeb.Pages.Customers.IndexModel
@{
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Last name</th>
    </tr>
    @foreach (var customer in Model.Customers)
    {
        <tr>

            <td>@customer.Givenname</td>
            <td>@customer.Surname</td>
            <td><a asp-page="CustomerDetails"asp-route-id="@customer.Id">Details</a></td>
        </tr>
    }
</table>