@page
@model BankStartWeb.Pages.Customers.IndexModel
@{
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Last Name</th>
    </tr>
    @foreach (var Customer in Model.Customers)
    {
        <tr>

            <td>@Customer.Givenname</td>
            <td>@Customer.Surname</td>
            <td><a asp-page="CustomerDetails" asp-route-id="@Customer.Id" >gå till konton</a></td>
        </tr>

    }
</table>